.text{
	color: lime;
}

.count {
	color: rgb(7, 177, 277);
}

.secret {
	margin-top: 12px;
	color: orchid;
}

button.password {
	color: greenyellow;
	background-color: darkslateblue;
	padding: 12px;
	box-shadow: 3px 2px 5px;
	border: none;
	border-radius: 7px;
	font-size: 22px;
	cursor: pointer;
	transition: transform 0.3s;
}

button.password:hover {
	background-color: orangered;
	color: greenyellow;
	box-shadow: 3px 2px 5px;
	transform: scale(1.09);
}

button {
	margin-bottom: 12px;
	background-color: blue;
	color: whitesmoke;
	padding: 12px;
	box-shadow: 3px 2px 5px;
	border: none;
	border-radius: 7px;
	font-size: 22px;
	cursor: pointer;
}

button:hover {
	background-color: greenyellow;
	color: orangered;
	box-shadow: 3px 2px 5px orangered;
}

.red {
	color: crimson;
	text-align: center;
	font-size: larger;
}

.yellow {
	color: yellow;
	text-align: center;
	font-size: 28px;
}

ul {
	color: lightcoral;
	font-size: 20px;
}
